{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
{#<style>
   .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>#}
    <nav class="navbar navbar-expand-lg fixed-top ">
        <a class="navbar-brand" href="{{ path('homepage') }}">Главная</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-4">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    <li class="nav-item">
                        <a class="nav-link" >Здравствуй, {{app.user.email}}!</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('about') }}">О проекте</a>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('admin') }}">Редактирование</a><br>
                    </li>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Авторизация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('app_register') }}">Регистрация</a><br>
                    </li>

                {% endif %}



            </ul>

        </div>
    </nav>


    <div class="overlay">

        <div class="description text-center">
        <h1>Это веб-приложение "Блог" создано с помощью Symfony фреймворка! </h1>
        </div>
        </div>

{% endblock %}
