{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg fixed-top ">
        <a class="navbar-brand" href="{{ path('homepage') }}">Главная</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-4">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    <li class="nav-item">
                        <a class="nav-link" >Здравствуйте, {{app.user.email}}!</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('about') }}">О проекте</a>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('admin') }}">Редактирование</a><br>
                    </li>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Авторизация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('app_register') }}">Регистрация</a><br>
                    </li>

                {% endif %}



            </ul>

        </div>
    </nav>

<div class="container">
    <div class="reg">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Пожалуйста авторизируйтесь</h1>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                <label for="inputPassword">Пароль</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
                <br>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}


            <button class="btn btn-lg btn-primary" type="submit">
                Авторизироваться
            </button>
        </form>
    </div>
</div>
{% endblock %}
