{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg fixed-top ">
        <a class="navbar-brand" href="{{ path('homepage') }}">Главная</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-4">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    <li class="nav-item">
                        <a class="nav-link" >Здравствуйте, {{app.user.email}}!</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('about') }}">О проекте</a>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('admin') }}">Редактирование</a><br>
                    </li>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Авторизация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('app_register') }}">Регистрация</a><br>
                    </li>

                {% endif %}



            </ul>

        </div>
    </nav>

    <div class="container">

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

        <div class="reg">
            <h1>Регистрация</h1>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}

                {{ form_row(registrationForm.plainPassword, {
                    label: 'Пароль'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

            <button class="btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
