{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
<div class="container">
    <h2>Пост: {{ post.name }}</h2>
    <div class = "card bg-white text-black">
        <div class = "card-body">

            <div>Дата создания: {{ post.createAt ? post.createAt|date('Y-m-d') : '' }}</div>
            <br>
            <div>Содержание: <br> {{ post.text }}</div>


        </div>
    </div>
<br>
    <h2>Комментарии:</h2>
        {% for comment in comments %}
            <br>
            <div class = "card bg-light text-black">
                <div class = "card-body">
                    <div>Автор комментария: {{comment.user.name}} </div>
                    <br>
                    <div>Дата создания: {{ comment.createAt ? comment.createAt|date('Y-m-d') : '' }} </div>
                    <br>
                    <div>{{ comment.content }} </div>
                    <br>
                </div>
            </div>
        {% endfor %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="container">
        <h2>Оставить комментарий</h2>
        <div class = "card bg-warning text-black">
            <div class = "card-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <button class="btn btn-light">{{ button_label|default('Сохранить') }}

                </button>

                {{ form_end(form) }}

            </div>
        </div>
    </div>
    {% endif %}
</div>>
{% endblock %}
